[Desktop Entry]
Encoding=UTF-8
Name=Extended Volume Mixer
Name[es]=Control de volumen extendido
Comment=A fancy volume mixer for your Plasma5 desktop.
Comment[es]=Un mezclador de audio para su escritorio Plasma5.
Icon=org.plasma-light.extended-volume-mixer
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Name=org.plasma-light.extended-volume-mixer
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Author=Alexis López Zubieta
X-KDE-PluginInfo-Email=azubieta90@gmail.com
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=GPL3